source/io/blk_mem_gen_ds512.pdf
*.xbcd
projects/rack_test/xst/work/work.sdbx
*.sdbl
*.lst
projects/rack_test/_xmsgs/bitgen.xmsgs
*.xmsgs
source/io/neuron_ram.asy
*.ncf
source/io/neuron_ram.ngc
*.sym
source/io/neuron_ram.veo
*.vho
source/io/edit_neuron_ram.tcl
*.log
*.pyc
source/py/multC_tester/.idea/workspace.xml
source/py/multC_tester/.idea/misc.xml
source/py/multC_tester/.idea/encodings.xml
source/py/multC_tester/.idea/modules.xml
source/py/multC_tester/.idea/.name
source/io/tmp/neuron_ram.lso
projects/rack_test/rack_test_xem6010.xst
projects/rack_test/rack_test_xem6010.xpi
*.xwbt
projects/rack_test/rack_test_xem6010_envsettings.html
projects/rack_test/rack_test_xem6010_guide.ncd
projects/rack_test/rack_test_xem6010_map.mrp
projects/rack_test/rack_test_xem6010_pad.csv
*.xrpt
projects/rack_test/rack_test_xem6010_map.ngm
*.ncd
projects/rack_test/rack_test_xem6010_map.map
*.twr
projects/rack_test/rack_test_xem6010.twx
*.stx
projects/rack_test/rack_test_xem6010.ptwx
*.prj
projects/rack_test/rack_test_xem6010.pcf
*.par
projects/rack_test/rack_test_xem6010.ngc
*.ngd
projects/rack_test/rack_test_xem6010.ngr
*.pad
projects/rack_test/rack_test_xem6010.syr
*.unroutes
projects/rack_test/rack_test_xem6010.drc
*.cmd_log
projects/rack_test/rack_test_xem6010.bld
*.bgn
*.filter
projects/rack_test/iseconfig/rack_test_xem6010.xreport
*.html
projects/rack_test/rack_test_xem6010.lso
*.ut
projects/rack_test/rack_test_xem6010_pad.txt
projects/rack_test/rack_test_xem6010_usage.xml
projects/rack_test/rack_test_xem6010_summary.xml
projects/rack_test/webtalk_pn.xml
*.vhd
source/io/neuron_ram_flist.txt
*.tcl
source/py/multC_tester/.idea/multC_tester.iml