source/io/blk_mem_gen_ds512.pdf
*.xbcd
projects/rack_test/xst/work/work.sdbx
*.sdbl
*.lst
projects/rack_test/_xmsgs/bitgen.xmsgs
*.xmsgs
source/io/neuron_ram.asy
*.ncf
source/io/neuron_ram.ngc
*.sym
source/io/neuron_ram.veo
*.vho
source/io/edit_neuron_ram.tcl
*.log
*.pyc
source/py/multC_tester/.idea/workspace.xml
source/py/multC_tester/.idea/misc.xml
source/py/multC_tester/.idea/encodings.xml
source/py/multC_tester/.idea/modules.xml
source/py/multC_tester/.idea/.name
source/io/tmp/neuron_ram.lso
projects/rack_test/rack_test_xem6010.xst
projects/rack_test/rack_test_xem6010.xpi
*.xwbt
projects/rack_test/rack_test_xem6010_envsettings.html
projects/rack_test/rack_test_xem6010_guide.ncd
projects/rack_test/rack_test_xem6010_map.mrp
projects/rack_test/rack_test_xem6010_pad.csv
*.xrpt
projects/rack_test/rack_test_xem6010_map.ngm
*.ncd
projects/rack_test/rack_test_xem6010_map.map
*.twr
projects/rack_test/rack_test_xem6010.twx
*.stx
projects/rack_test/rack_test_xem6010.ptwx
*.prj
projects/rack_test/rack_test_xem6010.pcf
*.par
projects/rack_test/rack_test_xem6010.ngc
*.ngd
projects/rack_test/rack_test_xem6010.ngr
*.pad
projects/rack_test/rack_test_xem6010.syr
*.unroutes
projects/rack_test/rack_test_xem6010.drc
*.cmd_log
projects/rack_test/rack_test_xem6010.bld
*.bgn
*.filter
projects/rack_test/iseconfig/rack_test_xem6010.xreport
*.html
projects/rack_test/rack_test_xem6010.lso
*.ut
projects/rack_test/rack_test_xem6010_pad.txt
projects/rack_test/rack_test_xem6010_usage.xml
projects/rack_test/rack_test_xem6010_summary.xml
projects/rack_test/webtalk_pn.xml
*.vhd
source/io/neuron_ram_flist.txt
*.tcl
source/py/multC_tester/.idea/multC_tester.iml
projects/balance_limb_pymunk/.eric4project/balance_limb_pymunk.e4q
projects/balance_limb_pymunk/.eric4project/balance_limb_pymunk.e4t
projects/balance_limb_pymunk/.eric4project/balance_limb_pymunk.e4t
*.exe
projects/rack_test/isim.cmd
*.xreport
projects/rack_mid_node1/iseconfig/rack_mid_node1.projectmgr
*.map
projects/rack_emg/rack_emg_xem6010_map.mrp
*.wdb
*.syr
*.twx
projects/rack_emg/rack_emg_xem6010.ptwx
*.pcf
projects/rack_emg/rack_emg_xem6010.lso
*.ngc
projects/derivative/derivative_xem6010.drc
*.bld
projects/derivative/derivative_xem6010.ngr
*.ptwx
projects/derivative/derivative_xem6010.lso
*.mrp
projects/derivative/derivative_xem6010_map.ngm
*.csv
*.projectmgr
*.sdbx
*.back
projects/rack_emg/rack_emg_xem6010_summary.xml
*.xml
projects/rack_emg/rack_emg_xem6010_fuglevand_20160414.bit
projects/rack_emg/rack_emg_xem6010_20160415_emg.bit
*.ini
projects/rack_emg/rack_emg_xem6010_with_Velocity80.bit
*.ngr
projects/rack_emg/rack_emg_xem6010.drc
*.xpi
*.ngm
projects/rack_emg - Copy/rack_emg_xem6010.lso
*.xst
projects/rack_emg/fuseRelaunch.cmd
projects/rack_emg/rack_emg_rng7_xem6010(050914).bit
projects/rack_emg/rack_emg_xem6010(twitch)_20160411.bit
projects/rack_emg/rack_emg_rng7_xem6010.bit
projects/rack_emg/rack_emg_xem6010_pad.txt